<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="image/google-forms.png">
    <title>Form</title>
</head>

<body class="indexbody">
    {{>navbar}}
    <div class="gif">
        <img src="image/online-survey.png" alt="code image">
    </div>


</body>

</html>