

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="main">
        <div class="head">
            <navbar>
                    
                
                <div class="or">
                    <ul>
                        <a href="/">
                        <li>Home</li>
                        </a>
                        <a href="/register">
                        <li>Registration</li>
                        </a>
                        <a href="/login">
                        <li>Login</li>
                        </a>
                    </ul>
                </div>
            </navbar>
        </div>
    </div>
    
</body>
</html>